<a href="https://colab.research.google.com/github/IndianJohnnyDepp/NLP_Practice_Notebooks/blob/main/Python_text_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = "Aravind"
print("My name is {}".format(name))

My name is Aravind

In [1]:
language = "python"
print(f"This programming language is called {language}")

This programming language is called python

In [3]:
d = {'a': 123, 'b': 456}
print(f"The number corresponding to a is {d['a']}")

The number corresponding to a is 123

In [4]:
mylist = [123,456]
print(f"The first number is {mylist[0]}")

The first number is 123

In [10]:
library = [("Author", "Topics", "Pages"), ("Twain", "Rafting in the water", 601), ("Feynman", "Physics", 95), ("Hamilton", "Mythology", 144)]

In [11]:
library

[('Author', 'Topics', 'Pages'),
 ('Twain', 'Rafting in the water', 601),
 ('Feynman', 'Physics', 95),
 ('Hamilton', 'Mythology', 144)]

In [12]:
for book in library:
  print(book)

('Author', 'Topics', 'Pages')
('Twain', 'Rafting in the water', 601)
('Feynman', 'Physics', 95)
('Hamilton', 'Mythology', 144)

In [13]:
for book in library:
  print(f"Author is {book[0]}")

Author is Author
Author is Twain
Author is Feynman
Author is Hamilton

In [16]:
for author,title,pages in library:
  print(f"Author is {author}, book title is {title}, and the no. of pages in that book is {pages}")

Author is Author, book title is Topics, and the no. of pages in that book is Pages
Author is Twain, book title is Rafting in the water, and the no. of pages in that book is 601
Author is Feynman, book title is Physics, and the no. of pages in that book is 95
Author is Hamilton, book title is Mythology, and the no. of pages in that book is 144

In [18]:
for author,title,pages in library:
  print(f"{author:{30}}{title:{30}}{pages:{30}}")

Author                        Topics                        Pages
Twain                         Rafting in the water                                     601
Feynman                       Physics                                                   95
Hamilton                      Mythology                                                144

In [19]:
for author,title,pages in library:
  print(f"{author:{30}}{title:{30}}{pages:>{30}}")

Author                        Topics                                                 Pages
Twain                         Rafting in the water                                     601
Feynman                       Physics                                                   95
Hamilton                      Mythology                                                144

In [23]:
for author,title,pages in library:
  print(f"{author:{30}}{title:{25}}{pages:->{10}}")

Author                        Topics                   -----Pages
Twain                         Rafting in the water     -------601
Feynman                       Physics                  --------95
Hamilton                      Mythology                -------144

In [24]:
for author,title,pages in library:
  print(f"{author:{30}}{title:{25}}{pages:.>{10}}")

Author                        Topics                   .....Pages
Twain                         Rafting in the water     .......601
Feynman                       Physics                  ........95
Hamilton                      Mythology                .......144

# Date formatting

In [25]:
from datetime import datetime

In [26]:
today = datetime(year = 2024, month = 1, day = 2)

In [27]:
print(today)

2024-01-02 00:00:00

In [29]:
today

datetime.datetime(2024, 1, 2, 0, 0)

In [28]:
print(f"{today}")

2024-01-02 00:00:00

In [30]:
print(f"{today:%B}")

January

In [31]:
print(f"{today: %B %d, %y}")

 January 02, 24

In [32]:
print(f"{today: %B %d, %Y}")

 January 02, 2024